# Everything first
*

# But not the good stuff
!.bashrc
!.bash_profile
!.profile
!.bashrc.d/
!.bashrc.d/**
!.profile.d/
!.profile.d/**

# And now specific ignores
.bashrc.d/submodules/
.profile.d/submodules/
